# maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# java
*.class

# logs
*.log
logs/

# ide
.idea/
*.iml
.vscode/
.classpath
.project
.settings/

# os
.DS_Store
Thumbs.db

# spring boot
application.properties
application.yml

.env
out/
*.tmp

# Frontend

# Node dependencies
node_modules/

# Build output (Vite / React)
dist/
build/

# Vite cache
.vite/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env files (frontend)
frontend.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS / frontend tooling
.DS_Store